Repository homuler/react-plastic-table: changes, and which Codecov flags are due for each by the changed paths.
All: react-table-lego-accessory, react-table-lego-brick, react-table-lego-works

.codecov.yml:

comment:
  layout: "header, reach, diff, flags, files, changes"
  behavior: default
  require_changes: yes    # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches: null
coverage:
  range: 50..90
  round: nearest
  precision: 2
flags:
  react-table-lego-accessory:
    paths:
      - packages/react-table-lego-accessory
  react-table-lego-brick:  
    paths:
      - packages/react-table-lego-brick
  react-table-lego-works:
    paths:
      - packages/react-table-lego-works
parsers:
  javascript:
    enable_partials: yes

fix: deploy storybook
  package.json
  packages/react-table-lego-showcase/tsconfig.json
Due: none

refactor: .d.ts -> .ts
  packages/react-table-lego-accessory/package.json
  packages/react-table-lego-accessory/src/cell/diagonal-split-cell.tsx
  packages/react-table-lego-accessory/src/index.ts
  packages/react-table-lego-accessory/src/types/checkbox.d.ts
  packages/react-table-lego-accessory/src/types/checkbox.ts
  packages/react-table-lego-accessory/src/types/column-toggle.d.ts
  packages/react-table-lego-accessory/src/types/column-toggle.ts
  packages/react-table-lego-accessory/src/types/diagonal-split-cell.d.ts
  packages/react-table-lego-accessory/src/types/diagonal-split-cell.ts
  packages/react-table-lego-accessory/src/types/index.ts
  packages/react-table-lego-brick/src/types/caption.ts
  packages/react-table-lego-brick/src/types/cell.ts
  packages/react-table-lego-brick/src/types/childrenRef.ts
  packages/react-table-lego-brick/src/types/col.ts
  packages/react-table-lego-brick/src/types/colgroup.ts
  packages/react-table-lego-brick/src/types/common.ts
  packages/react-table-lego-brick/src/types/defaultSize.ts
  packages/react-table-lego-brick/src/types/draggable.ts
  packages/react-table-lego-brick/src/types/reorder.ts
  packages/react-table-lego-brick/src/types/resize.ts
  packages/react-table-lego-brick/src/types/rowgroup.ts
  packages/react-table-lego-brick/src/types/table.ts
  packages/react-table-lego-brick/src/types/tbody.ts
  packages/react-table-lego-brick/src/types/tfoot.ts
  packages/react-table-lego-brick/src/types/thead.ts
  packages/react-table-lego-brick/src/types/tr.ts
  packages/react-table-lego-works/src/types/header/commons.ts
  packages/react-table-lego-works/src/types/header/tree-header.ts
  packages/react-table-lego-works/src/types/table/matrix-table.ts
  tsconfig.base.json
Due: react-table-lego-accessory, react-table-lego-brick, react-table-lego-works

chore: add build:ci command
  package.json
  packages/react-table-lego-accessory/package.json
  packages/react-table-lego-brick/package.json
  packages/react-table-lego-showcase/package.json
  packages/react-table-lego-works/package.json
Due: react-table-lego-accessory, react-table-lego-brick, react-table-lego-works

fix: now MatrixTable passes style props to Table
  packages/react-table-lego-works/src/table/matrix-table.tsx
  packages/react-table-lego-works/src/types/table/matrix-table.ts
Due: react-table-lego-works

fix: failed to fire reorder events correctly
  packages/react-table-lego-brick/src/components/cell/useReorder.ts
Due: react-table-lego-brick

feat(showcase): add MatrixTable sample
  packages/react-table-lego-showcase/src/matrix-table.stories.tsx
Due: none

feat(works): implement TreeHeaderTable
  packages/react-table-lego-brick/src/index.ts
  packages/react-table-lego-works/src/header/tree-header.tsx
  packages/react-table-lego-works/src/index.ts
  packages/react-table-lego-works/src/table/tree-header-table.tsx
  packages/react-table-lego-works/src/types/header/tree-header.ts
  packages/react-table-lego-works/src/types/index.ts
  packages/react-table-lego-works/src/types/table/tree-header-table.ts
Due: react-table-lego-brick, react-table-lego-works

feat(showcase): add a TreeHeaderTable example
  packages/react-table-lego-showcase/src/tree-header.stories.tsx
Due: none

fix(works): set row heights correctly
  packages/react-table-lego-works/src/table/tree-header-table.tsx
Due: react-table-lego-works
