Repository homuler/react-plastic-table: changes, and which Codecov flags are due for each by the changed paths.
All: react-table-lego-accessory, react-table-lego-brick, react-table-lego-works

feat: remove the scope from package names
  package.json
  packages/react-table-lego-accessory/package.json
  packages/react-table-lego-bootstrap4-theme/package.json
  packages/react-table-lego-brick/package.json
  packages/react-table-lego-material-theme/package.json
  packages/react-table-lego-showcase/package.json
  packages/react-table-lego-showcase/src/accessories/column-toggle.stories.tsx
  packages/react-table-lego-showcase/src/accessories/pagination.stories.tsx
  packages/react-table-lego-showcase/src/bricks/headers.stories.tsx
  packages/react-table-lego-showcase/src/tree-header.stories.tsx
  packages/react-table-lego-works/package.json
  packages/react-table-lego-works/src/headers/data/header-tree.test.ts
  packages/react-table-lego-works/src/headers/data/header-tree.ts
  packages/react-table-lego-works/src/headers/tree-header.tsx
  packages/react-table-lego-works/src/types/headers/commons.types.ts
  packages/react-table-lego-works/src/types/headers/tree-header.types.ts
  tsconfig.base.json
Due: react-table-lego-accessory, react-table-lego-brick, react-table-lego-works

v0.1.0
  CHANGELOG.md
  lerna.json
  packages/react-table-lego-accessory/CHANGELOG.md
  packages/react-table-lego-accessory/package.json
  packages/react-table-lego-bootstrap4-theme/CHANGELOG.md
  packages/react-table-lego-bootstrap4-theme/package.json
  packages/react-table-lego-brick/CHANGELOG.md
  packages/react-table-lego-brick/package.json
  packages/react-table-lego-material-theme/CHANGELOG.md
  packages/react-table-lego-material-theme/package.json
  packages/react-table-lego-showcase/CHANGELOG.md
  packages/react-table-lego-showcase/package.json
  packages/react-table-lego-works/CHANGELOG.md
  packages/react-table-lego-works/package.json
Due: react-table-lego-accessory, react-table-lego-brick, react-table-lego-works

chore: update badges
  README.md
  package.json
  packages/react-table-lego-accessory/README.md
  packages/react-table-lego-brick/README.md
  packages/react-table-lego-showcase/README.md
  packages/react-table-lego-works/README.md
Due: react-table-lego-accessory, react-table-lego-brick, react-table-lego-works

fix: don't relase react-table-lego-showcase
  package.json
Due: none

v0.1.1
  CHANGELOG.md
  lerna.json
  packages/react-table-lego-accessory/CHANGELOG.md
  packages/react-table-lego-accessory/package.json
  packages/react-table-lego-brick/CHANGELOG.md
  packages/react-table-lego-brick/package.json
  packages/react-table-lego-showcase/CHANGELOG.md
  packages/react-table-lego-showcase/package.json
  packages/react-table-lego-works/CHANGELOG.md
  packages/react-table-lego-works/package.json
Due: react-table-lego-accessory, react-table-lego-brick, react-table-lego-works

fix: not to publish react-table-lego-showcase
  package.json
  packages/react-table-lego-showcase/package.json
Due: none

v0.1.2
  CHANGELOG.md
  lerna.json
  packages/react-table-lego-showcase/CHANGELOG.md
  packages/react-table-lego-showcase/package.json
Due: none

chore: remove an invalid badge
  packages/react-table-lego-showcase/README.md
Due: none

chore: add publish size badges
  packages/react-table-lego-accessory/README.md
  packages/react-table-lego-brick/README.md
  packages/react-table-lego-works/README.md
Due: react-table-lego-accessory, react-table-lego-brick, react-table-lego-works

build: not to use rollup to build
  packages/react-table-lego-brick/package.json
  packages/react-table-lego-brick/rollup.config.js
Due: react-table-lego-brick

test(brick): add Caption tests
  packages/react-table-lego-brick/src/components/caption.test.tsx
  packages/react-table-lego-brick/src/utils/test.tsx
Due: react-table-lego-brick

test(brick): refactor afterEach code(cleanup)
  packages/react-table-lego-brick/src/components/rowgroup/index.test.tsx
  packages/react-table-lego-brick/src/components/th/index.test.tsx
  packages/react-table-lego-brick/src/components/thead.test.tsx
Due: react-table-lego-brick

refactor(brick): create 'cell' directory
  packages/react-table-lego-brick/src/components/cell/resize-control.tsx
  packages/react-table-lego-brick/src/components/cell/useReorder.ts
  packages/react-table-lego-brick/src/components/cell/useResize.ts
  packages/react-table-lego-brick/src/components/cell/view.tsx
  packages/react-table-lego-brick/src/components/td.tsx
  packages/react-table-lego-brick/src/components/th.test.tsx
  packages/react-table-lego-brick/src/components/th.tsx
  packages/react-table-lego-brick/src/components/th/view.tsx
  packages/react-table-lego-brick/src/types/cell.types.ts
  packages/react-table-lego-brick/src/types/index.ts
  packages/react-table-lego-brick/src/types/td.types.ts
  packages/react-table-lego-brick/src/types/th.types.ts
Due: react-table-lego-brick

fix: change file paths
  packages/react-table-lego-brick/src/types/tr.types.ts
Due: react-table-lego-brick

fix(brick): enable to resize heights of rows in TBody
  packages/react-table-lego-brick/src/components/rowgroup/index.tsx
  packages/react-table-lego-brick/src/types/rowgroup.types.ts
Due: react-table-lego-brick

refactor: rename directories (headers -> header)
  packages/react-table-lego-works/src/header/data/header-tree.test.ts
  packages/react-table-lego-works/src/header/data/header-tree.ts
  packages/react-table-lego-works/src/header/tree-header.tsx
  packages/react-table-lego-works/src/index.ts
  packages/react-table-lego-works/src/types/header/commons.types.ts
  packages/react-table-lego-works/src/types/header/tree-header.types.ts
  packages/react-table-lego-works/src/types/index.ts
Due: react-table-lego-works

feat: upgrade typescript to v3.7.3
  package.json
  packages/react-table-lego-brick/package.json
  packages/react-table-lego-showcase/package.json
  packages/react-table-lego-works/package.json
  yarn.lock
Due: react-table-lego-brick, react-table-lego-works

feat(works): cache results of HeaderTree#toThPropsByRows
  packages/react-table-lego-works/src/header/data/header-tree.ts
Due: react-table-lego-works

build(works): change the structure in 'lib' directory
  packages/react-table-lego-brick/package.json
  packages/react-table-lego-brick/tsconfig.json
  packages/react-table-lego-works/package.json
  packages/react-table-lego-works/tsconfig.json
Due: react-table-lego-brick, react-table-lego-works

feat(works): add MatrixTable template
  packages/react-table-lego-works/src/table/matrix-table.tsx
  packages/react-table-lego-works/src/types/index.ts
  packages/react-table-lego-works/src/types/table/matrix-table.types.ts
Due: react-table-lego-works

fix(works): clear caches of the ancestor nodes recursively
  packages/react-table-lego-works/src/header/data/header-tree.ts
Due: react-table-lego-works

fix: fix LICENCE link
  README.md
Due: none

feat(works): change I/F of TreeHeader
  packages/react-table-lego-showcase/src/tree-header.stories.tsx
  packages/react-table-lego-works/src/header/data/header-tree.ts
  packages/react-table-lego-works/src/header/tree-header.tsx
  packages/react-table-lego-works/src/index.ts
  packages/react-table-lego-works/src/types/header/tree-header.types.ts
Due: react-table-lego-works

refactor(works): implement useNodeReorder
  packages/react-table-lego-works/src/header/tree-header.tsx
  packages/react-table-lego-works/src/header/useNodeReorder.ts
  packages/react-table-lego-works/src/types/table/matrix-table.types.ts
Due: react-table-lego-works

refactor(works): rename TreeHeader props
  packages/react-table-lego-showcase/src/tree-header.stories.tsx
  packages/react-table-lego-works/src/header/tree-header.tsx
  packages/react-table-lego-works/src/types/header/tree-header.types.ts
Due: react-table-lego-works

feat: update type definitions
  packages/react-table-lego-brick/src/components/rowgroup/index.tsx
  packages/react-table-lego-brick/src/types/common.types.ts
  packages/react-table-lego-brick/src/types/index.ts
  packages/react-table-lego-brick/src/types/tr.types.ts
  packages/react-table-lego-brick/src/utils/children.ts
Due: react-table-lego-brick

feat(works): implement MatrixTable
  packages/react-table-lego-works/src/header/data/header-tree.test.ts
  packages/react-table-lego-works/src/header/data/header-tree.ts
  packages/react-table-lego-works/src/header/tree-header.tsx
  packages/react-table-lego-works/src/header/useNodeReorder.ts
  packages/react-table-lego-works/src/index.ts
  packages/react-table-lego-works/src/table/matrix-table.tsx
  packages/react-table-lego-works/src/types/header/commons.types.ts
  packages/react-table-lego-works/src/types/table/matrix-table.types.ts
Due: react-table-lego-works

feat(showcase): add MatrixTable stories
  packages/react-table-lego-showcase/.storybook/babel.config.js
  packages/react-table-lego-showcase/package.json
  packages/react-table-lego-showcase/src/matrix-table.stories.tsx
  yarn.lock
Due: none

build: enable to build react-table-lego-accessory
  packages/react-table-lego-accessory/package.json
  packages/react-table-lego-accessory/src/prop-types/number.ts
  packages/react-table-lego-accessory/tsconfig.json
Due: react-table-lego-accessory

feat(accessory): implement DiagonalSplitCell
  packages/react-table-lego-accessory/src/cell/diagonal-split-cell.tsx
  packages/react-table-lego-accessory/src/index.ts
  packages/react-table-lego-accessory/src/types/diagonal-split.types.ts
  packages/react-table-lego-accessory/src/types/index.ts
Due: react-table-lego-accessory

fix(brick): suppress callback call when reorderAxis is 'none'
  packages/react-table-lego-brick/src/components/cell/useReorder.ts
  packages/react-table-lego-brick/src/hooks/draggable.ts
Due: react-table-lego-brick

chore: ignore tsconfig.tsbuildinfo
  .gitignore
Due: none

fix(accessory): pass props to Th, Td
  packages/react-table-lego-accessory/src/cell/diagonal-split-cell.tsx
  packages/react-table-lego-accessory/src/types/diagonal-split-cell.types.ts
  packages/react-table-lego-accessory/src/types/index.ts
Due: react-table-lego-accessory

build: import react-table-lego-accessory from react-table-lego-works
  packages/react-table-lego-accessory/tsconfig.json
  packages/react-table-lego-works/package.json
  packages/react-table-lego-works/tsconfig.json
Due: react-table-lego-accessory, react-table-lego-works

feat(works): use DiagonalSplitTh in MatrixTable
  packages/react-table-lego-showcase/src/matrix-table.stories.tsx
  packages/react-table-lego-works/src/table/matrix-table.tsx
  packages/react-table-lego-works/src/types/table/matrix-table.types.ts
Due: react-table-lego-works

build: supress build after installing dependencies
  package.json
  packages/react-table-lego-accessory/package.json
  packages/react-table-lego-brick/package.json
  packages/react-table-lego-showcase/package.json
  packages/react-table-lego-works/package.json
Due: react-table-lego-accessory, react-table-lego-brick, react-table-lego-works

refactor: .types.ts -> .d.ts
  packages/react-table-lego-accessory/src/types/checkbox.d.ts
  packages/react-table-lego-accessory/src/types/column-toggle.d.ts
  packages/react-table-lego-accessory/src/types/diagonal-split-cell.d.ts
  packages/react-table-lego-accessory/src/types/index.ts
  packages/react-table-lego-brick/src/components/cell/resize-control.tsx
  packages/react-table-lego-brick/src/types/caption.d.ts
  packages/react-table-lego-brick/src/types/cell.d.ts
  packages/react-table-lego-brick/src/types/childrenRef.d.ts
  packages/react-table-lego-brick/src/types/col.d.ts
  packages/react-table-lego-brick/src/types/colgroup.d.ts
  packages/react-table-lego-brick/src/types/common.d.ts
  packages/react-table-lego-brick/src/types/defaultSize.d.ts
  packages/react-table-lego-brick/src/types/draggable.d.ts
  packages/react-table-lego-brick/src/types/index.ts
  packages/react-table-lego-brick/src/types/reorder.d.ts
  packages/react-table-lego-brick/src/types/resize.d.ts
  packages/react-table-lego-brick/src/types/rowgroup.d.ts
  packages/react-table-lego-brick/src/types/sizeMap.d.ts
  packages/react-table-lego-brick/src/types/table.d.ts
  packages/react-table-lego-brick/src/types/tbody.d.ts
  packages/react-table-lego-brick/src/types/tfoot.d.ts
  packages/react-table-lego-brick/src/types/thead.d.ts
  packages/react-table-lego-brick/src/types/tr.d.ts
  packages/react-table-lego-works/src/types/header/commons.d.ts
  packages/react-table-lego-works/src/types/header/tree-header.d.ts
  packages/react-table-lego-works/src/types/index.ts
  packages/react-table-lego-works/src/types/table/matrix-table.d.ts
Due: react-table-lego-accessory, react-table-lego-brick, react-table-lego-works

build: `showcase` refers to `works`
  packages/react-table-lego-showcase/tsconfig.json
  packages/react-table-lego-works/tsconfig.json
Due: react-table-lego-works

refactor: export SizeMap from index.ts
  packages/react-table-lego-brick/src/components/colgroup.tsx
  packages/react-table-lego-brick/src/index.ts
  packages/react-table-lego-brick/src/types/index.ts
  packages/react-table-lego-brick/src/types/sizeMap.d.ts
  packages/react-table-lego-works/src/table/matrix-table.tsx
Due: react-table-lego-brick, react-table-lego-works

build: upgrade dependencies
  .eslintignore
  package.json
  packages/react-table-lego-accessory/package.json
  packages/react-table-lego-brick/package.json
  packages/react-table-lego-brick/src/contexts/tableContext.ts
  packages/react-table-lego-showcase/package.json
  packages/react-table-lego-works/package.json
  yarn.lock
Due: react-table-lego-accessory, react-table-lego-brick, react-table-lego-works

Path conditions:
  react-table-lego-accessory: any of: packages/react-table-lego-accessory
  react-table-lego-brick: any of: packages/react-table-lego-brick
  react-table-lego-works: any of: packages/react-table-lego-works
